<h1>Vista de Detalles de Upload</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <p>Tag:{{tagId.name}}</p>
            <p>Hay X {{tagId.name}} en este momento</p>
            <img src="{{img}}" alt="{{tagId.name}}">
            <p>Imagen:{{img}}</p>
            {{!-- <p>Localizacion:</p>
            <ul>
            <li>Latitud:{{location}}</li>
            <li>Longitud:{{location}}</li>
            </ul> --}}
        </div>
    </div>
</div>